
@keyframes slideDown{
  from{
    transform: translateY(-60px);
  }
  to{
    transform: translateY(0px);

  }
}

.box{
  border: solid rgb(113, 74, 74, 0.5) 5px;
  width: 600px;
  margin: 10px;
  margin-top: 20px;
  padding: 30px;
  margin: 30px 30px 30px;
}

.box select, .box input {
  margin-left: 15px;
  
}

.box select {
  height: 25px;
}

.box button {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #c2e1f3;
  border-style: dashed;
  height: 40px;
}

.book, .meal{
text-align: center;
font-size: 18px;
margin-top: 20px;
margin-bottom: 20px;
animation: slideDown 0.8s;
}

.wrapper{
  margin-left: 20px;
}