.container {
  position: fixed;
  inset: 0;
  background-color: rgba(76, 76, 76, 0.7);
  z-index: 50;
}

.backgroundImg {
  position: relative;
  padding: 15px;
  z-index: 70;
}
.imgAnimal {
  position: absolute;
  transform: translate(50%);
  margin: 15px;
  border-radius: 1rem;
  z-index: 99;
}
